<extend name="Common:base" />
<block name="content">
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption"><empty name="info.uid">添加<else/>编辑</empty>管理员</div>
        </div>
        <div class="portlet-body form">
            <form autocomplete = "off" id="user_edit" action="{:U('Admin/update')}" method="post" class="form-horizontal">
            <div class="control-group">
                <label class="control-label">账号<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" name="username" class="m-wrap" value="{$info.username}"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">真实姓名<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" name="nickname" class="m-wrap popovers"  value="{$info.nickname}"/>
                </div>
            </div>

          <div class="control-group">
                <label class="control-label">性别</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="sex" value="1" <eq name="info.sex" value="1">checked</eq>/>
                        男
                    </label>
                    <label class="radio">
                        <input type="radio" name="sex" value="2" <eq name="info.sex" value="2">checked</eq>/>
                        女
                    </label>
                </div>
            </div>
    
            <div class="control-group">
                <label class="control-label">密码</label>
                <div class="controls">
                    <input  type="password" name="password" class="m-wrap popovers" value="" />
                    <notempty name="info.uid">
                    <span class="help-inline">为空表示不修改密码</span>
                    </notempty>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">邮箱<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" name="email" class="m-wrap popovers" value="{$info.email}"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">手机<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" name="mobile" class="m-wrap popovers" value="{$info.mobile}"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">角色<span class="required">*</span></label>
                <div class="controls">
                    <select class="m-wrap" name="role_id">
                        <option value="">请选择</option>
                        <volist name="role_lists" id="vo">
                        <option value="{$vo.role_id}" <eq name="info.role_id" value="$vo.role_id">selected</eq>>{$vo.name}</option>
                        </volist>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">状态</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="status" value="0" <eq name="info.status" value="0">checked</eq>/>
                        禁用
                    </label>
                    <label class="radio">
                        <input type="radio" name="status" value="1" <empty name="info.uid">checked<else/><eq name="info.status" value="1">checked</eq></empty>/>
                        启用
                    </label>
                </div>
            </div>
			<div class="control-group">
                <label class="control-label">所属门店<span class="required">*</span></label>
                <div class="controls">
                    <select class="m-wrap" name="stores_id">
                        <option value="">请选择</option>
                        <volist name="stores_list" id="vo">
                        <option value="{$vo.stores_id}" <eq name="info.stores_id" value="$vo.stores_id">selected</eq>>{$vo.name}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">描述</label>
                <div class="controls">
                    <textarea class="span6 m-wrap" rows="3" name="remark">{$info.remark}</textarea>
                </div>
            </div>

            <div class="form-actions">
                <input type="hidden" name="uid" value="{$info.uid}"/>
                <button type="submit" class="btn blue">提交</button>
                <a class="btn" href="{:U('Admin/index')}">返回</a>
            </div>
            </form>
        </div>
    </div>
</div>
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/admin/adminController'],function(admin){
            <empty name="info.uid">
            admin.add();
            <else/>
            admin.edit();
            </empty>
        });
    </script>
</block>